<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="full">
  <div class="form-gap"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h3><i class="fa fa-lock fa-4x"></i></h3>
              <h2 class="text-center">Register</h2>
              <div class="panel-body">
                <form [formGroup]="signupForm" (ngSubmit)="onRegister()">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock color-blue"></i></span>
                      <input id="username" name="username" placeholder="Username" class="form-control" type="text" formControlName="username">
                    </div>
                    <div *ngIf="signupForm.get('username')?.hasError('pattern')" class="text-danger">
                      Username should contain only lowercase letters, underscores, and be less than 20 characters.
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock color-blue"></i></span>
                      <input id="password" name="password" placeholder="Password" class="form-control" type="password" formControlName="password" (input)="checkPasswordStrength()">
                    </div>
                  </div>
                  <div *ngIf="passwordStrength" class="password-strength-bar">
                    {{ passwordStrength }}
                  </div>

                  <div *ngIf="signupForm?.get('password')?.hasError('pattern')" class="text-danger">
                    Password must have at least one uppercase, one lowercase, one special character, one number, and be 8-30 characters long.
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-key color-blue"></i></span>
                      <input id="cpassword" name="cpassword" placeholder="Confirm Password" class="form-control" type="password" formControlName="confirmPassword">
                    </div>
                    <div *ngIf="signupForm.get('confirmPassword')?.hasError('passwordMismatch')" class="text-danger">
                      Password does not match.
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user color-blue"></i></span>
                      <input id="fname" name="fname" placeholder="Full Name" class="form-control" type="text" formControlName="fullName">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-phone color-blue"></i></span>
                      <input id="phone" name="phone" placeholder="Phone Number" class="form-control" type="tel" formControlName="phoneNumber">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                      <input id="email" name="email" placeholder="Email address" class="form-control" type="email" formControlName="email">
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                    <button name="register-submit" class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="signupForm.invalid">Register</button>
                  </div>
                  <div class="form-group">
                    <p class="text-center">Already a user? <a routerLink="/login">Login</a></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
