
<div class="container">

  <nav>
    <div class="navbar">
      <div class="instagram-text-logo">
        <img src="https://i.postimg.cc/qMFTcDw1/instagram-text.png" id="white-color" alt="">
      </div>
      <div class="sub-section" id="clicked">
        <i class="fa-solid fa-house"></i>
        <a href="#">Home</a>
      </div>
      <div class="sub-section">
        <i class="fa-regular fa-magnifying-glass"></i>
        <a href="#">Search</a>
      </div>
      <div class="sub-section">
        <i class="fa-regular fa-compass"></i>
        <a href="#">Explore</a>
      </div>
      <div class="sub-section">
        <i class="fa-regular fa-heart"></i>
        <a href="#">Likes</a>
      </div>
      <div class="sub-section">
        <i class="fa-regular fa-square-plus"></i>
        <a href="#">Create</a>
      </div>
      <div class="sub-section">
        <i class="fa-regular fa-square-plus"></i>
        <a href="#">Profile</a>
      </div>
    </div>
  </nav>
  <div class="middle-section">
    <div class="post-section">
      <div class="nav-hidden">
        <div class="nav-hidden-logo" id="white-2color">
          <img src="https://i.postimg.cc/qMFTcDw1/instagram-text.png" alt="">
        </div>
        <div class="nav-hide-2">
          <i class="fa-regular fa-heart"></i>
          <i class="fa-regular fa-paper-plane"></i>
        </div>
      </div>
      <div class="story-section">
        <div class="story" *ngFor="let story of stories">
          <div class="story-image">
            <img [src]="story.storyImage" alt="">
          </div>
          <span>{{ story.username }}</span>
        </div>
      </div>
      <div class="post-area">
        <div class="post-main" *ngFor="let post of posts">
          <div class="post-header">
            <div class="post-left-header">
              <div class="post-image">
                <img [src]="post.userImage" alt="">
              </div>
              <p class="post-username">{{ post.username }}</p>
              <i class="fa-solid fa-certificate"></i>
              <span class="one-day">{{ post.timestamp }}</span>
            </div>
            <i class="fa-solid fa-grip-lines"></i>
          </div>
          <div class="post-main-image">
            <img [src]="post.postImage" alt="">
          </div>
          <div class="post-fotter">
            <div class="post-fotter-left">
              <i class="fa-regular fa-heart"></i>
              <i class="fa-regular fa-message"></i>
              <i class="fa-regular fa-paper-plane"></i>
            </div>
            <i class="fa-regular fa-bookmark"></i>
          </div>
          <div class="post-description">
            <p class="post-liked">{{ post.likes }}</p>
            <p class="title">
              <span>{{ post.description.author }}</span>
              {{ post.description.content }}
            </p>
            <p class="comments">view all comments</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
