.profile-update-container{
display: flex;
font-family: Arial, sans-serif;
}
.side-nav {
    width: 250px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding: 20px;
    
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
  
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
   
  }
  
  .nav-list li {
    margin-bottom: 15px;
  
  }
  
  .nav-list a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;

  }
  
  .nav-list a i {
    margin-right: 10px;
   
  }
  .profile-container {
    
    flex-direction:row;
    align-items: center;
    width: 100px;
    padding: 20px;
    background-color: #fff;
    white-space: nowrap;
   
  }
.profile{
    width: 100px;
    height: 80px;
    border-radius: 300%;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
  
}
.bio-container {
  font-family: Arial, sans-serif; 
}

.bio {
  font-family: Arial, sans-serif; 
}

#edit-bio-btn {
  font-family: "Arial", sans-serif; 
  background-color: #3498db; 
  color: #fff; 
  padding: 10px 20px; 
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s; 

  
  &:hover {
    background-color: #0077b6; 
  }


}

#edit-bio-btn1 {
  font-family: "Arial", sans-serif;
  background-color: #3498db; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px;
  cursor: pointer; 
  transition: background-color 0.3s; 

  
  &:hover {
    background-color: #0077b6; 
  }
  margin-left: 10px; 
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup textarea {
  width: 30%;
}




.add-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
  }
  .profile-container img {
    width: 40%;
    height: 40%;
    object-fit: cover;
    
  }
.add-profile {
		position:absolute;
		transform: translate(-10%, -10%);
		right: 38%;
		bottom: 18%;
		display: inline-flex;
		align-items:center;
		justify-content: center;
		background-color: #4d97f0;
    font-size: small;
		color: #FFF;
		width: 13px;
		height: 13px;
		border-radius: 50%;
}
.profile{
    align-items: center;
}


